@font-face {
    font-family: Poppins;
    src: url("/global/fonts/Poppins-Regular.ttf");
}

*{
    margin: 0;
    transition: transform 230ms ease-out;

}

#namespace {
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

a {
    margin-left: 0;
}

h1 {
    color: #426696;
    font-size: 1.3rem;
}

h2 {
    color: #658ec6;
    font-size: 1rem;
}

li img {
    height: 3rem;
    margin-right: 2ch;
}

ul[id=nav-ul] li {
    display: flex;
    margin-bottom: 2rem;
}

#me {
    aspect-ratio: 1;
    height: 6rem;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1ch;
}

.logo {
    width: 5rem;
    position: relative;
    margin: 1rem;
}

.nav-div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

#nav-ul{
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: column;

}

#primary-nav {
    display: flex;
    list-style: none;
    font-size: 1em;
    height: max(80vh,35rem);
    background: linear-gradient(to right bottom,rgba(255,255,255,0.9),rgba(255,255,255,0.7));
    width: 20rem;
    /* align-items: center; */
    padding: min(4vh,6rem) 2rem;
    backdrop-filter: blur(0.5rem);
    justify-content: center;
    align-content: space-between;
}

.nav-toggle {
    display: none;
    position: absolute;
}

.nav-box {
    display: flex;
    align-content: center;
    background: linear-gradient(to right top, #65dfc9,#6cdbeb);
    width: 15rem;
    height: 6rem;
    border-radius: 1rem;
    color: white;
    font-size: 1.7rem;
    font-family: Poppins,sans-serif;
}

@media (max-width: 950px) {
    #primary-nav {
        position: fixed;
        inset: 0 50% 0 0;
        z-index: 98;
        transform: translateX(-100%);
        transition: transform 230ms ease-out;
    }

    #primary-nav[data-visible= 'true']{
        transform: translateX(0%);
    }

    .nav-toggle{
        padding: 0;
        display: block;
        position: absolute;
        left: 2rem;
        top: 2rem;
        background: url("../images/menu.svg") no-repeat ;
        background-size: contain;
        width: 2rem;
        border: none;
        aspect-ratio: 1;
        z-index: 99;
    }
}