
:root {
    --red: rgb(219,116,89);
    --blue: rgb(125,197,195);
    --orange: rgb(227,158,116);
    --purple: rgb(186,131,147);
    --green: rgb(63,169,152);
}

.heading {
    width: fit-content;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 20%;
    left:50%;
}

h1 {
    text-align: center;
    color: white;
    font-family: serif;
    font-size: 2rem;
}

body {
    margin: 0;
    background-color: var(--blue);
    background-image: url("../images/jellyfishtr.png");
    background-size: 20% ;
    position: relative;
    overflow: hidden;
}



.form {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;  
    max-width: min-content;
}

.input {
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    width: 200px;
    color: white;
    transition: 100ms;
}

*:focus{
    border:none;
    outline: var(--red) solid 1px;
}


.code {
    margin-top: 5%;
    color: white;
    background-color: var(--orange);
    border: none;
    border-radius: 5px;
    width: 200px;
    transition: 140ms;
    transform-origin: right top;
}

.submit {
    background-color: var(--green);
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 30px;
    margin-top: 5%;
    margin-left: 50px;
    margin-right: auto;
}

.submit:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
    translate: -5px -5px;
} 

.submit:disabled { color: rgb(207, 207, 207);}

.submit:hover:disabled {
    color:rgb(207, 207, 207);
    -webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
     transform:scale(1);
    translate: 0;

}

.submit:active {
    outline: none;
    -webkit-transform:scale(.95); /* Safari and Chrome */
    -moz-transform:scale(.95); /* Firefox */
    -ms-transform:scale(.95); /* IE 9 */
    -o-transform:scale(.95); /* Opera */
     transform:scale(.95);
}