@font-face {
    font-family: poppins;
    src: url("/global/fonts/Poppins-Regular.ttf");
}
@font-face {
    font-family: Consolas;
    src: url("/global/fonts/Consolas.ttf");
}

:root{
    --p1: rgb(40,60,130);
    --p2: rgb(78,53,104);
    --white_glass: linear-gradient(to right bottom,rgba(255,255,255,1),rgba(255,255,255,0.5));
    --gradient1: linear-gradient(to right top, #00DBDE ,#FC00FF);
    --glass: linear-gradient(to right bottom,rgba(255,255,255,0.3),rgba(255,255,255,0.1));

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: var(--gradient1);
    min-height: 100%;
}

body {
    font-family: poppins,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.div-list {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

h1 {
    text-align: center;
    color: white;
    width: max-content;
    padding: 10px;
    margin-bottom: 30px;
    margin-top:20px;
}

@media (min-width: 600px) {
    .items {
        grid-template-columns: repeat(2,15em);
    }
}

@media (min-width: 900px) {
    .items {
        grid-template-columns: repeat(3,15em);
    }
}

.items {
    display: grid;
    margin: 0 auto;
    grid-gap: 20px;
    place-items: center;
    width: 100%;
}

#logo {
width: 200px;
    margin-top: 30px;
}

ul img {
    max-width: 100px;
    border-radius: 100%;
    padding: 4px;
    border: solid white 2px;
    height: 100px;
    overflow: hidden;
    z-index: 1;
    object-fit: cover;
}

.name {
    color: white;
    font-family: poppins,sans-serif;
    margin-top: 15px;
    font-size: 1.3em;
}

p {
    color: white;
    font-size: .9em;
}

.container{
    position: relative;
    margin: 10px;
    background: var(--glass);
    border-radius: 10px;
    box-shadow: 0 10px 20px -10px rgba(0, 0,0 , 0.75);
    text-align: center;
    width: 200px;
     padding-top: 20px;
    overflow: hidden;
    height: 200px;
    backdrop-filter: blur(1em);
    transition: transform 90ms ease;
}

.container:hover {
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
    transform:scale(1.05);
}


@media (max-width: 950px) {

    .circle1, .circle2 {
        width: 10rem;
    }
}