
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #28223f;
    min-height: 100vh;
    align-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
}
*:focus {
    outline: none;
}

.form {
    background: #231e39;
    margin: 10px;
    border-radius: 20px;
    width: auto;
    margin: 50px;
    background: #231e39;
    border-radius: 10px;
    box-shadow: 0 10px 20px -10px rgba(0, 0,0 , 0.75);
    color: #b3b8cd;
    text-align: center;
    padding: 20px;
}

.submit,.input {
    background: #231e39;
    top: 60%;
    color: white;
    position: relative;
    border: none; 

}

.round {
    max-width: 100px;
    border-radius: 100%;
    padding: 4px;
    border: solid white 2px;
    height: 100px;
    overflow: hidden;
    z-index: 1;
}

.names {
    color: white;
    text-align: center;
    z-index: 1;
}

.data{
    position: relative;
    margin: 50px;
    background: #231e39;
    border-radius: 10px;
    box-shadow: 0 10px 20px -10px rgba(0, 0,0 , 0.75);
    text-align: center;
    width: auto;
    min-width: 210px;
    padding: 20px;
    overflow: hidden;
}