@font-face {
    font-family: Cosolas;
    src: url("/global/fonts/Consolas.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("/global/fonts/Poppins-Regular.ttf");
}

:root {
    --white_glass: linear-gradient(to right bottom,rgba(255,255,255,1),rgba(255,255,255,0.5));
    --gradient1: linear-gradient(to right top, #65dfc9 ,#6cdbeb);
    --glass: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: hidden;
}
body {
    font-family: Consolas,sans-serif;
    overflow-x: hidden;
}

p {
    font-family: Consolas, sans-serif;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 6ch;
    position: relative;
}

a {
    margin-inline: 2vw;
    text-decoration: none;
    display: flex;
    float: left;
    font-size: 2em;
    color: #658ec6;
}

main {
    min-height: 100vh;
    background: var(--gradient1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    display: flex;
    flex-direction: row;
    height: max(80vh,33rem);
    background: var(--glass);
    width: max(55rem,60%);
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(1rem);
    overflow: hidden;
    margin: 5%;
    align-content: center;
}
.circle1, .circle2 {
    position: absolute;
    overflow: hidden;
    aspect-ratio: 1;
    width: 20rem;
    background: var(--white_glass);
    border-radius: 50%;
}

.circle1 {
    top: 5%;
    right: 15%;
}


.circle2 {
    bottom: 5%;
    left: 10%;
}

@media (max-width: 950px) {

    .circle1, .circle2 {
        width: 10rem;
    }

    .glass {
        overflow: hidden;
    }


    #h1bw {
        text-align: center;
    }
}


.content-div {
    position: relative;
    width: calc(200% - 22rem);
    height:  80vh;
    margin-inline: 1rem;
    overflow-x: scroll;
    padding: 1rem;
}

.card {
    display: flex;
    height: max-content;
    width: 100%;
    background: white;
    margin-block: 2rem;
    align-items: flex-start;
    align-content: center;
    border-radius: 1rem;
    flex-direction: column;
    flex-wrap: nowrap;
    box-shadow: 0 10px 20px -10px rgb(0 0 0 / 75%);
    padding: 2ch;
}
.card h1{
    margin-bottom: .5rem;
}

.graph-content {
    width: 100%;
}

.graph {
    width: 80%;
    height: 1rem;
    background: var(--gradient1);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    margin-bottom: .5rem;
}

.graph-after {
    content: '';
    background: #cccccc;
    position: absolute;
    width: 100%;
    height: 1rem;
    overflow: hidden;
}


.ul-graph {
    width: 100%;
    height: max-content;
    all: unset;
    list-style: none;
}

.bw-span{
    position: relative;
    text-align: center;
    display: inline;
}

/* width */
::-webkit-scrollbar {
display: none;
}
/* Track */
::-webkit-scrollbar-track {
    background: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: hsla(70 70% 100% /0.5);
    border-radius: 10%;
    width: 5px;
    height: 2px;
    transition: background 200ms;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #658ec6;
}

::-webkit-scrollbar-corner {
    background: none;
}